<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Charter Go </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='css/angular-material.min.css'>

  <link href='css/fonts/font-awesome.min.css' rel='stylesheet prefetch'/>
  <link href="css/fonts/material.css" rel="stylesheet" />

  <link href="css/jquery-ui.min.css" rel="stylesheet" />
  <link href="css/jquery-ui.structure.min.css" rel="stylesheet" />
  <link href="css/jquery-ui.theme.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style-ta.css">

  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-sanitize.min.js"></script>
  -->

  <!-- para el datepicker -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-material.min.js"></script>
  <script src="js/angular-messages.min.js"></script>
  <script src="js/angular-cookies.min.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src='js/textAngular.js'></script>
  
  <script src="js/pagination.js"></script>
  
  <script src="app/app.js"></script>      <!--  -->
  <script src="app/root.js"></script>     <!-- base controller -->
  <script src="app/services.js"></script>  <!-- database -->

  <script src="app/controllers/login.js"></script>
  <script src="app/controllers/place.js"></script>
  <script src="app/controllers/place_add.js"></script>
  <script src="app/controllers/about.js"></script>
  <script src="app/controllers/setting.js"></script>
  <script src="app/controllers/gcm.js"></script>


</head>

<body>
  <div ng-app="App" ng-controller="RootCtrl as ctl" layout="row" layout-fill ng-cloak>

    <!-- Sliding Menu -->
    <md-sidenav ng-hide="isLogin" class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!-- menu header -->
      <md-toolbar class="nav-header md-hue-2" layout-align="end end">
        <div class="md-toolbar-tools" layout layout-padding>
          <md-icon class="material-icons md-36">{{data.user.icon}}</md-icon>
          <div layout="column" layout-padding>
            <span class="md-body-2">{{data.user.name}}</span>
            <span class="md-caption">{{data.user.email}}</span>
          </div>
          <span flex></span>
          <md-menu md-position-mode="target-right target" >
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width=3>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="directHref('#setting')">Configuración</md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="doLogout($event)">Salir</md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>

      <!-- SIDE MENU -->
      <md-content role="navigation">
        <div ng-repeat="action in sidenav.actions">
          <md-list-item ng-click="directHref(action.link)" ng-if="!action.sub">
            <md-icon>{{action.icon}}</md-icon>
            <p class="md-body-2">{{action.name}}</p>
          </md-list-item>
          <!-- for handle sub menu -->
          <md-list-item ng-if="action.sub" ng-click="action.sub_expand = !action.sub_expand">
            <md-icon>{{action.icon}}</md-icon>
            <p class="md-body-2">{{action.name}}</p>
            <span flex></span>
            <md-icon class="md-primary md-icon-button">{{action.sub_expand ? 'arrow_drop_down' : 'arrow_drop_up'}}</md-icon>
          </md-list-item>
          <md-list-item class="sub-menu-bg" ng-show="action.sub_expand" ng-repeat="sub_act in action.sub_menu" ng-click="subMenuAction($event, sub_act)">
            <p class="md-body-2 sub-menu-sidenav">{{sub_act.name}}</p>
          </md-list-item>
        </div>
      </md-content>

    </md-sidenav>

    <div tabindex="-1" layout="column" role="main" class="flex md-layout-column">
      <md-toolbar ng-hide="isLogin" role="toolbar">
        <div class="md-toolbar-tools">
          <!-- toogle button -->
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>

          <!-- toolbar title -->
          <h4 class="md-title">{{pagetitle}}</h4> <span flex></span>

          <!-- Search layout -->
          <md-card flex ng-if="search_show">
            <div layout="row">
              <md-icon ng-click="closeSearch($event)" style="color:#BDBDBD;margin-left:10px;cursor:pointer;">close</md-icon>
              <md-input-container flex md-no-float style="padding:6px;margin-left:5px">
                <input ng-model="q" id="search_input" class="search" placeholder="Search" ng-keypress="keypressAction($event, q)">
              </md-input-container>
              <md-icon ng-click="submitSearch($event, q)" style="color:#4DB151;margin-right:10px;cursor:pointer;">search</md-icon>
            </div>
          </md-card>

          <!-- add search action -->
          <md-button ng-if="search_enable && !search_show" class="md-icon-button" ng-click="searchAction($event)"><md-icon>search</md-icon></md-button>

          <!-- add button -->
          <md-button ng-if="toolbar_menu != null" class="md-primary" ng-click="barAction($event)">{{toolbar_menu.title}}</md-button>

          <!-- more -->
          <md-menu md-position-mode="target-right target" >
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width=3>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="directHref('#setting')">Configuración</md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="doLogout($event)">Salir</md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>

        </div>
      </md-toolbar>

      <!-- CONTENT PAGE -->
      <md-content layout ng-hide="isLogin" md-scroll-y flex class="md-padding" ng-style="{'background' : bgColor}">
        <div ng-view layout-fill flex></div>
      </md-content>

      <!-- CONTENT LOGIN -->
      <md-content layout ng-hide="!isLogin" md-scroll-y layout-align="center center" flex class="md-padding" ng-style="{'background' : bgColor}">
        <div ng-view layout-fill flex></div>
      </md-content>
    </div>
  </div>
</body>

</html>
